@{
    Layout = "_ContactLayout";
}

<h3>Sesion Contacts List</h3>
<button type="button" id="btnadd" class="btn btn-primary" onclick="clearData();$('#myModal').modal('show');">✚</button>
<div class="mt-5" id="responseMessage"></div>
<div class="container mt-4">
    <table class="table table-striped" id="contactTable">
        <thead class="thead-dark">
            <tr>
                <th>Edit</th>
                <th>Name</th>
                <th>Email</th>
                <th>Group</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Status</th>
                <th>Image</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody> </tbody>
    </table>
</div>

<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Contact Form </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="$('#myModal').modal('hide');">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="contactid" value="0">
                    <input type="hidden" id="image" value="">
                    <div class="mt-3">
                        <label class="control-label mt-1" for="name">Name:</label>
                        <div class="mt-1">
                            <input type="text" class="form-control" id="name" placeholder="Enter name">
                        </div>
                    </div>

                    <div class="mt-3">
                        <label class="control-label mt-1" for="email">Email:</label>
                        <div class="mt-1">
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="control-label mt-1" for="address">Address:</label>
                        <div class="mt-1">
                            <input type="text" class="form-control" id="address" placeholder="Enter address">
                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="control-label mt-1" for="mobile">Mobile:</label>
                        <div class="mt-1">
                            <input type="text" class="form-control" id="mobile" placeholder="Enter mobile">
                        </div>
                    </div>

                    <div class="mt-3">
                        <label class="control-label mt-1" for="group">Group:</label>
                        <div class="mt-1">
                            <input class="group-checkbox" type="checkbox" id="relative" value="Realtive"> Realtive
                            <input class="group-checkbox" type="checkbox" id="friend" value="Friend"> Friend
                            <input class="group-checkbox" type="checkbox" id="social" value="Social"> Social
                            <input class="group-checkbox" type="checkbox" id="professnal" value="Professional">
                            Professional
                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="control-label mt-1" for="group">Status:</label>
                        <div class="mt-1">
                            <select id="status" class="form-control">
                                <option value="Favourate">Favourate</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>

                    <div class="mt-3">
                        <label class="control-label mt-1" for="image">Image:</label>
                        <div class="mt-1">
                            <input type="file" class="form-control" id="Image">
                            <div id="img"></div>
                        </div>
                    </div>
                    <div id="responseModalMessage"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        onclick="$('#myModal').modal('hide');">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveData()" id="btnSave">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var url = "http://localhost:5266/api/ContactSesApi/";
    $(document).ready(function () {
        loadData();
    });
    function loadData() {
        var user = JSON.parse(sessionStorage.getItem("user"));
        $.ajax({
            url: url + 'GetAll/' + '?userid=' + user.c_UserId, // Replace with your API endpoint
            type: 'GET',
            success: function (response) {
                console.log(response)
                // $('#responseMessage').addClass("alert alert-primary");
                // $('#responseMessage').text('Data: ' + JSON.stringify(response));
                const tableBody = $('#contactTable tbody');
                tableBody.empty();
                response.forEach(function (contact) {
                    const row = `<tr>
<td><button type="button" class="btn btn-primary"
onclick="editData(${contact.c_ContactId})" >&hellip;✍ </button></td>
<td>${contact.c_ContactName}</td>
<td>${contact.c_Email}</td>
<td>${contact.c_Group ? contact.c_Group : '-'}</td>
<td>${contact.c_Address}</td>
<td>${contact.c_Mobile}</td>
<td>${contact.c_Status ? contact.c_Status : '-'}</td>
<td>${contact.c_Image ? `<img src="../../contact_images/${contact.c_Image}"
alt="Image" width="50" height="50">` : '-'}</td>
<td><button type="button" class="btn btn-danger"
onclick="deleteData(${contact.c_ContactId},'${contact.c_ContactName}')" >✘ </button></td>
</tr>`;
                    tableBody.append(row);
                });
            },
            error: function (xhr, status, error) {
                $('#responseMessage').addClass("alert alert-danger");
                $('#responseMessage').text('Error: ' + xhr.responseText);
            }
        });
    }


    function deleteData(id, name) {
        var ans = confirm("Do you delete " + name + "?");
        if (ans) {
            $.ajax({
                url: url + 'DeleteContact/' + id,
                type: 'DELETE',
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#responsemodalMessage').addClass("alert alert-info");
                    $('#responseModalMessage').text('Contact Deleted Successfully');
                    loadData();
                },
                error: function (xhr, status, error) {
                    $('#responsemodalMessage').addClass("alert alert-danger");
                    $('#responseModalMessage').text('Error: ' + xhr.responseText);
                }
            });
        }
    }


    function saveData() {
        var user = JSON.parse(sessionStorage.getItem("user"));
        var formData = new FormData();
        formData.append("c_UserId", user.c_UserId);
        formData.append("c_ContactName", $('#name').val());
        formData.append("c_Email", $('#email').val());
        formData.append("c_Status", $('#status').val());
        formData.append("c_Address", $('#address').val());
        formData.append("c_Mobile", $('#mobile').val());
        let selectedGroups = '';
        $('.group-checkbox:checked').each(function () {
            selectedGroups += $(this).val() + ',';
        });
        formData.append("c_Group", selectedGroups.slice(0, -2));
        var fileInput = $('#Image')[0].files[0];
        if (fileInput) {
            formData.append("ContactPicture", fileInput);
        }

        // AJAX request
        if ($('#contactid').val() == 0) {
            $.ajax({
                url: url + 'AddContact',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#myModal').modal('hide');
                    loadData();
                    clearData();
                },
                error: function (xhr, status, error) {
                    $('#responsemodalMessage').addClass("alert alert-danger");
                    $('#responseModalMessage').text('Error: ' + xhr.responseText);
                }
            });
        }

        else {
            formData.append("c_ContactId", $('#contactid').val());
            if (!fileInput) {
                formData.append("c_Image", $('#image').val());
            }
            $.ajax({
                url: url,
                type: 'PUT',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#myModal').modal('hide');
                    loadData();
                    clearData();
                },
                error: function (xhr, status, error) {
                    $('#responsemodalMessage').addClass("alert alert-danger");
                    $('#responseModalMessage').text('Error: ' + xhr.responseText);
                }
            });
        }
    }

    function editData(id) {
        $('#myModal').modal('show');
        clearData();
        $.ajax({
            url: url + 'GetContactById/' + id, // Replace with your API endpoint
            type: 'GET',
            contentType: false, // Important: Prevent jQuery from automatically setting content type
            processData: false, // Important: Prevent jQuery from automatically processing the data
            success: function (response) {
                $('#contactid').val(response.c_ContactId);
                $('#name').val(response.c_ContactName);
                $('#email').val(response.c_Email);
                $('#address').val(response.c_Address);
                $('#status').val(response.c_Status);
                $('#mobile').val(response.c_Mobile);
                $('#image').val(response.c_Image);
                valuesToCheck = response.c_Group.split(',');
                valuesToCheck.forEach(function (value) {
                    $(`.group-checkbox[value="${value}"]`).prop('checked', true);
                });
            },
            error: function (xhr, status, error) {
                $('#responsemodalMessage').addClass("alert alert-danger");
                $('#responseModalMessage').text('Error: ' + xhr.responseText);
            }
        });
    }
    function clearData() {
        $('#contactid').val(0);
        $('#name').val('');
        $('#email').val('');
        $('#address').val('');
        $('#mobile').val('');
        $('.group-checkbox').each(function () {
            $(this).prop('checked', false);
        });
    }
</Script>